<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.vWaitingAppListServiceMapper">

	<select id="shenpixiujiachushi" parameterType="vAppedListVo" resultType="vAppedListVo">
		select request.takeOffID,employeeName ,holidayTypeName,startDay,endDay,takeOffDays
		from employee,holidaytype,request,examine	
		<where >
			employee.employeeID=request.employeeID 
			AND holidaytype.holidayTypeID=request.holidayTypeID 
			AND examine.takeOffID = request.takeOffID
			AND examine.examinerID='${examinerID}'
			AND examine.examineResult=3
		</where> 	
	</select>
	<select id="chaxunxiujiashenpi" parameterType="vAppedListVo" resultType="vAppedListVo">
		select request.takeOffID,employeeName ,holidayTypeName,startDay,endDay,takeOffDays
		from employee,holidaytype,request,examine
		<where >
			employee.employeeID=request.employeeID AND holidaytype.holidayTypeID=request.holidayTypeID
			AND examine.examinerID='${examinerID}' AND examine.examineResult=3
			<if test="employeeName!=''">
			AND employee.employeeName like '%${employeeName}%'
			</if>
			<if test="startDay!='' and startDay!=null">
			AND startDay &gt;= '${startDay}'
			</if>
			<if test="endDay!='' and endDay!=null">
			 AND endDay &lt;='${endDay}'
			 </if>
		</where> 	
	</select>
	
	<select id="xiangxi1" parameterType="vAppedListVo" resultType="vAppedListVo">
		select request.takeOffID,employeeName,employee.employeeID,holidayTypeName,takeOffDays,startDay,endDay,applyDay
		FROM request,examine,employee,holidaytype
		WHERE employee.employeeID=request.employeeID AND holidaytype.holidayTypeID=request.holidayTypeID
        AND request.takeOffID=examine.takeOffID
		AND request.takeOffID=${takeOffID}
		AND examine.examineResult=3
	</select>
	
	<select id="xiangxi2" parameterType="vAppedListVo" resultType="vAppedListVo">
	SELECT examineLevel,employee.employeeName,examineOpinion,examineDate,
	case when examineResult=1 then "通过"
	when examineResult=2 then "不通过"
	when examineResult=3 then "审核中" end examineResult 
	FROM examine,request,employee
    WHERE examinerID=employee.employeeID AND request.takeOffID=examine.takeOffID 
    AND request.takeOffID=${takeOffID}
    AND examine.examineResult=3
	</select>
	
	<select id="tgselectByID" parameterType="vAppedListVo" resultType="vAppedListVo">
		select request.takeOffID,employeeName ,holidayTypeName,startDay,endDay,takeOffDays,examineLevel
		from employee,holidaytype,request,examine	
		<where >
			employee.employeeID=request.employeeID 
			AND holidaytype.holidayTypeID=request.holidayTypeID 
			AND examine.takeOffID = request.takeOffID
			AND examine.TakeOffID='${takeOffID}'
		</where> 	
	</select>
	
	<update id="tongguo" parameterType="vAppedListVo">
		UPDATE examine SET examineResult=1,examineDate=NOW(),examineOpinion='${examineOpinion}' WHERE takeOffID='${takeOffID}'
	</update>
	
	<select id="tableID" resultType="int">
		SELECT COUNT(*) FROM examine
	</select>
	<insert id="shezhierjishenpi" parameterType="vAppedListVo">
		INSERT examine(examineTableID,takeOffID,examine.examineLevel,examine.examinerID,examine.examineResult)
        VALUES('${examineTableID}','${takeOffID}',2,(SELECT a.employeeID FROM department a,department b WHERE a.departmentID=b.fatherDepartmentID AND b.employeeID='1'),3)
	</insert>
	
	<update id="setStatus" parameterType="vAppedListVo">
		update request set status = 1 
		<where>
			takeOffID = '${takeOffID}'
		</where>
	</update>
	
</mapper>